.header {
  border-bottom: 1px solid rgba(29, 29, 29, 0.1);;
  img {
    width: 30px;
  }
  padding: 0;
  // background: #fffaf4;
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
  // background: #222121;
  &__container {
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .location {
    width: 225px;
    display: flex;
    align-items: center;
    gap: 5px;
    a{
    }
  }
  &__logo {
    width: 225px;
    text-align: center;
    img {
      width: 45px;
      height: 45px;
    }
  }

  .tel {
    display: flex;
    align-items: center;
    gap: 10px;

    .messengers {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        img {
          width: 30px;
        }
      }
    }
  }
}
